#div1::before{
    content: "";
    position: absolute;
    background: url('pexels-pixabay-255501.jpg') no-repeat center center/cover;
    height: 78rem;
    width: 150rem;
    z-index: -1;
    opacity: 0.6;
}
#div1 ul{
    font-size: 1.3rem;
    padding-inline-start: 1em;
    padding-bottom: 0.5em;
}
.business{
    font-size: 8rem;
    font-weight: bolder;
}
#div2 ul{
    font-size: 1.3rem;
    padding-inline-start: 1em;
    padding-bottom: 0.5em;
}
.features{
    font-size: 1.5rem;
    font-weight: bolder;
}
#div3{
    display: inline-flex;
    padding-bottom: 1rem;
}
.payment{
    font-size: 1.5rem;
    font-weight: bolder;
    padding-right: 0.5rem;
}
.upi{
    font-size: 1.3rem;
}
#div4{
    display: flex;
}
.rating{
    font-size: 1.5rem;
    font-weight: bolder;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}
.stars{
    font-size: 1.3rem;
}
#div5{
    padding-top: 0.5rem;
    display: flexbox;
}
.time{
    font-size: 1.5rem;
    font-weight: bolder;
    padding-bottom: 0.5rem;
}
.sun{
    font-size: 1.3rem;
    padding-inline-start: 1em;
    padding-bottom: 0.5em;
}
.mon{
    font-size: 1.3rem;
    padding-inline-start: 1em;
    padding-bottom: 0.5em;
}
.tue{
    font-size: 1.3rem;
    padding-inline-start: 1em;
    padding-bottom: 0.5em;
}
.wed{
    font-size: 1.3rem;
    padding-inline-start: 1em;
    padding-bottom: 0.5em;
}
.thu{
    font-size: 1.3rem;
    padding-inline-start: 1em;
    padding-bottom: 0.5em;
}
.fri{
    font-size: 1.3rem;
    padding-inline-start: 1em;
    padding-bottom: 0.5em;
}
.sat{
    font-size: 1.3rem;
    padding-inline-start: 1em;
    padding-bottom: 4rem;
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    display: inline-flex;
    text-align: center;
    text-decoration: none;
    border-radius: 2rem;
    padding-right: 0.5rem;
    align-items: center;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram{
    background: rgb(224, 72, 97);
    color: white;
  }
  .fa-youtube{
    background: red;
    color: white;
  }
  footer{
    position:static;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }